<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1EBBD7" />
    <meta name="description" content="Social network of financial assistance based on the collaborative principle of financing. Buy and sell ethereum at a lower cost.">
    <meta name="keywords" content="Trova, Trova.vip, VIP, RSI, Social network, financial, investment, exchange, BTC, ETH, Buy ETH, Sell ETH, entraide financière, réseau social">
    <meta name="author" content="ICORE">
    <meta name="og:url" content="https://trova.vip">
    <meta name="og:title" content="Qexal Web">
    <title>TROVA EXCHANGE |
        <%= title %>
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" href="../Inter/admin/css/style.css">
    <link rel="stylesheet" href="../Inter/admin/css/jquery.notify.css">
    <link href="../Inter/admin/images/favicon.png" rel="icon">
    <link rel="shortcut icon" href="../Inter/admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <p>Don't have an account?</p>
                                <a class="btn get-started-btn" href="/exchange/signup">Sign Up</a>
                            </div>
                            <form id="loginForm" action="/exchange/login" method="post">
                                <h3 class="mr-auto">Hello! let's get started</h3>
                                <p class="mb-5 mr-auto">Enter your details below.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" name="pseudo" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <a href="#" class="text-small forgot-password text-black" data-toggle="modal" data-target="#basicExampleModal">Forgot Password ?</a>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn">SIGN IN</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> Qexal. All rights reserved.</p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="recoverySection">
                            <label class="label">Enter your email</label>
                            <div class="input-group">
                                <input type="email" id="emailrec" class="form-control" placeholder=".....@example.com">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-envelope-letter"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="hide wait position-relative">
                            <div class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <button type="button" class="btn" data-dismiss="modal">Back</button>
                        <button class="btn btn-primary submit-btn btn-block recoveryMailFirst">Verify</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="../Inter/admin/js/jquery.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../Inter/admin/js/popper.js"></script>
    <script src="../Inter/admin/js/bootstrap.min.js"></script>
    <script src="../Inter/admin/js/mdb.js"></script>
    <script src="../Inter/admin/js/jquery.notify.js"></script>

    <script>
        $(document).ready(function() {
            <% message.forEach(function(value){ %>
            $.notify({
                position: 2,
                type: 'error',
                autoClose: false,
                message: "<%= value %>"
            });
            <% }); %>

            $(".input-group-append").on("click", function() {
                const type = $(this).prev().attr("type")
                if (type === "password") {
                    $(this).prev().attr("type", "text")
                    $(this).find("span").html('<i class="icon-close"></i>')
                } else {
                    $(this).prev().attr("type", "password")
                    $(this).find("span").html('<i class="icon-eye"></i>')
                }
            })
            $('body').on('click', '.recoveryMailFirst', function(e) {
                e.preventDefault();
                const email = $("#emailrec").val();
                const focus = $(this);

                focus.hide();
                focus.prev().hide();

                $(".wait").show();

                const url = '/users/emailrec',
                    type = 'post';
                $.ajax({
                    url,
                    type,
                    data: {
                        email
                    },
                    success: function(datas) {
                        $(".wait").hide();
                        if (datas.etat) {
                            $("#recoverySection").html('<label class="label">Enter the verification code received by email</label><div class="input-group"><input type="text" id="recoveryEnter" class="form-control"><div class="input-group-append"><span class="input-group-text"><i class="icon-lock-open"></i></span></div></div>');
                            focus.prev().removeClass("recoveryMailFirst btn-block btn-primary").addClass("recoveryMailLast btn-info").text("Send").show();
                        } else {
                            focus.show();
                            focus.prev().show();
                            $.notify({
                                position: 3,
                                type: 'error',
                                duration: 4000,
                                message: datas.error
                            });
                        }
                    }
                });
            });

            $('body').on('click', '.recoveryMailLast', function(e) {
                e.preventDefault();
                const recovery = $('body').find("#recoveryEnter").val();
                const focus = $(this);
                $(".wait").show();

                const url = '/users/recovery',
                    type = 'post';
                $.ajax({
                    url,
                    type,
                    data: {
                        recovery
                    },
                    success: function(datas) {
                        $(".wait").hide();
                        if (datas.etat) {
                            $("#recoverySection").html('<label class="label">Your new password has just been sent by email. Good continuations in TROVA</label>');
                            focus.hide();
                        } else {
                            focus.show();
                            $.notify({
                                position: 3,
                                type: 'error',
                                duration: 4000,
                                message: datas.error
                            });
                        }
                    }
                });
            });


            $('body').on('click', '.activeNumber', function(e) {
                e.preventDefault();
                const id = $(this).attr('data-ryu');

                const url = '/users/activeNumber',
                    type = 'post';
                $.ajax({
                    url,
                    type,
                    data: {
                        id
                    },
                    success: function(datas) {
                        if (datas.etat) {
                            $.notify({
                                position: 3,
                                type: 'success',
                                duration: 4000,
                                message: datas.result
                            });
                        } else {
                            $.notify({
                                position: 3,
                                type: 'error',
                                duration: 4000,
                                message: datas.error
                            });
                        }
                    }
                });
            });
        })
    </script>
</body>

</html>