<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#1EBBD7" />
    <meta name="og:description" content="Qexal best award of business, advertisement, crowfunding 2023">
    <meta name="keywords" content="business, advertisement, marketing, multipurpose, crowfunding, award 2023">
    <meta name="og:author" content="Qexal_Inc">
    <meta property="og:image" content="Inter/admin/images/favicon.png">
    <meta name="og:url" content="https://qexal.online">
    <meta name="og:title" content="Qexal Web">
    <meta property="og:type" content="Financial Company">
    <title>QEXAL | Crowfunding, Advertisement & Scholarship</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" href="../Inter/admin/css/style.css">
    <link rel="stylesheet" href="../Inter/admin/css/jquery.notify.css">
    <link rel="stylesheet" href="../corporate-finance/css/izitoast.min.css">
    <link href="../Inter/admin/images/favicon.png" rel="icon">
    <link rel="shortcut icon" href="../Inter/admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content">
                            <img src="../qexal-high-resolution-logo-color-on-transparent-background.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <p>Don't have an account?</p>
                                <a class="btn get-started-btn" href="/signup">JOIN COMUNITY</a>
                            </div>
                            <form id="forgotPassword" action="/forgotPassword" method="post">
                                <h3 class="mr-auto">Forgot Password ?</h3>
                                <p class="mb-5 mr-auto">We will find your password for you.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" name="number" id="numberTel" class="form-control" placeholder="Your phone number">

                                        <input type="hidden" name="number" id="addressCrypto">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary submit-btn" id="connect-button">CONNECT YOUR WALLET</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> Qexal. All rights reserved.</p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="../Inter/admin/js/socket.io.js"></script>
    <script src="../Inter/admin/js/jquery.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../Inter/admin/js/popper.js"></script>
    <script src="../Inter/admin/js/bootstrap.min.js"></script>
    <script src="../Inter/admin/js/mdb.js"></script>
    <script src="../Inter/admin/js/jquery.notify.js"></script>
    <script src="../corporate-finance/js/izitoast.min.js"></script>
    <script src="../Inter/admin/js/socket.provider.js"></script>

    <script type="module">
        
        import { Web3ModalSign } from 'https://unpkg.com/@web3modal/sign-html'
        const web3Modal = new Web3ModalSign({
            projectId: "032f05e4b02a8a305c7909421cc2517e",
            walletConnectVersion: 2,
            metadata: {
                name: 'Qexal',
                description: 'Qexal',
                url: 'qexal.co',
                icons: ['https://imagedelivery.net/_aTEfDRm7z3tKgu9JhfeKA/c7a3327f-2dc2-4123-f8c6-73319f3f8600/lg']
            }
        })

        async function onConnect() {
            const session = await web3Modal.connect({
                requiredNamespaces: {
                eip155: {
                    methods: ['eth_sendTransaction','eth_signTransaction', 'eth_sign','personal_sign', 'eth_signTypedData'],
                    chains: ['eip155:1'],
                    events: ['chainChanged', 'accountsChanged']
                }
                }
            })
            
            if(session.topic) {
                
                const account = session.namespaces.eip155.accounts[0].slice(9);
                $("#addressCrypto").val(account);
                $("#forgotPassword").submit();
            }
            
        }
        document.getElementById('connect-button').addEventListener('click', onConnect)
      </script>

    <script>
        $(document).ready(function() {
            <% message.forEach(function(value){ %>
            $.notify({
                position: 2,
                type: 'error',
                autoClose: false,
                message: "<%= value %>"
            });
            <% }); %>

            })
    </script>
</body>

</html>