<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#1EBBD7" />
    <meta name="og:description" content="Qexal best award of business, advertisement, crowfunding 2023">
    <meta name="keywords" content="business, advertisement, marketing, multipurpose, crowfunding, award 2023">
    <meta name="og:author" content="Qexal_Inc">
    <meta property="og:image" content="Inter/admin/images/favicon.png">
    <meta name="og:url" content="https://qexal.io">
    <meta name="og:title" content="Qexal Web">
    <meta property="og:type" content="Financial Company">
    <title>QEXAL | Crowfunding, Advertisement & Scholarship</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" href="../Inter/admin/css/style.css">
    <link rel="stylesheet" href="../Inter/admin/css/jquery.notify.css">
    <link rel="stylesheet" href="../corporate-finance/css/izitoast.min.css">
    <link href="../Inter/admin/images/favicon.png" rel="icon">
    <link rel="shortcut icon" href="../Inter/admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content">
                            <img src="../qexal-high-resolution-logo-color-on-transparent-background.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <p>Don't have an account?</p>
                                <a class="btn get-started-btn" href="/signup">JOIN COMUNITY</a>
                            </div>
                            <form id="loginForm" action="/login" method="post">
                                <h3 class="mr-auto">Hello! let's get started</h3>
                                <p class="mb-5 mr-auto">Enter your details below.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" name="number" class="form-control" placeholder="Your phone number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <a href="/forgotPassword" class="text-small forgot-password text-black">Forgot Password ?</a>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn">SIGN IN</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> Qexal. All rights reserved.</p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        
        <!-- page-body-wrapper ends -->
    </div>
    <script src="../Inter/admin/js/socket.io.js"></script>
    <script src="../Inter/admin/js/jquery.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../Inter/admin/js/popper.js"></script>
    <script src="../Inter/admin/js/bootstrap.min.js"></script>
    <script src="../Inter/admin/js/mdb.js"></script>
    <script src="../Inter/admin/js/jquery.notify.js"></script>
    <script src="../corporate-finance/js/izitoast.min.js"></script>
    <script src="../Inter/admin/js/socket.provider.js"></script>

    <script>
        $(document).ready(function() {
            <% message.forEach(function(value){ %>
            $.notify({
                position: 2,
                type: 'error',
                autoClose: false,
                message: "<%= value %>"
            });
            <% }); %>

            $(".input-group-append").on("click", function() {
                const type = $(this).prev().attr("type")
                if (type === "password") {
                    $(this).prev().attr("type", "text")
                    $(this).find("span").html('<i class="icon-close"></i>')
                } else {
                    $(this).prev().attr("type", "password")
                    $(this).find("span").html('<i class="icon-eye"></i>')
                }
            })

           
        })
    </script>
</body>

</html>