<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1EBBD7" />
    <meta name="og:description" content="Qexal best award of business, advertisement, crowfunding 2023">
    <meta name="keywords" content="business, advertisement, marketing, multipurpose, crowfunding, award 2023">
    <meta name="og:author" content="Qexal_Inc">
    <meta property="og:image" content="Inter/admin/images/favicon.png">
    <meta name="og:url" content="https://qexal.online">
    <meta name="og:title" content="Qexal Web">
    <meta property="og:type" content="Financial Company">
    <title>QEXAL | Crowfunding, Advertisement & Scholarship</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../Inter/admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../Inter/admin/css/style.css">
    <link rel="stylesheet" href="../Inter/admin/css/jquery.notify.css">
    <link rel="stylesheet" href="../corporate-finance/css/izitoast.min.css">
    <script src="../Inter/admin/js/jquery.js"></script>

    <link rel="icon" href="../Inter/admin/images/favicon.png" />
    <link rel="shortcut icon" href="../Inter/admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content">
                            <img src="../qexal-high-resolution-logo-color-on-transparent-background.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <h3 class="mr-auto">Your new Code</h3>
                                <p class="mb-5 mr-auto">Save it and don't share.</p>
                            </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        
                                        <input type="text" value="<%= newCode %>" readonly disabled="true">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <a type="button" href="/users" class="btn btn-primary submit-btn" id="connect-button">OK</a>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> Qexal. All rights reserved.</p>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="../Inter/admin/js/socket.io.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="../Inter/admin/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../Inter/admin/js/popper.js"></script>
    <script src="../Inter/admin/js/bootstrap.min.js"></script>
    <script src="../Inter/admin/js/mdb.js"></script>
    <script src="../Inter/admin/js/select2.js"></script>
    <script src="../Inter/admin/js/jquery.notify.js"></script>
    <script src="../corporate-finance/js/izitoast.min.js"></script>
    <script src="../Inter/admin/js/socket.provider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

    <script>
        $(document).ready(function() {
            confetti({
                                        particleCount: 100,
                                        spread: 70,
                                        origin: { y: 0.6 }
                                    });

        })
    </script>
</body>

</html>